<article class="row justify-content-center">
  <div class="col-md-8 mb-3">
    <div class="card">
      <div class="card-header text-white bg-primary">
        <a href="#" data-href="id" data-format="linkFormat" data-format-target="href" class="text-white"><h2 data-content="title"></h2></a>
        <p>du <span data-content="date_start" data-format="dateFormat"></span> au <span data-content="date_end" data-format="dateFormat"></span></p>
        <p><span data-content="time_start" data-format="timeFormat"></span> - <span data-content="time_end" data-format="timeFormat"></span></p>
      </div>
      <div class="card-body" data-content="content">
      </div>
    </div>
  </div>
</article>
