
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;

// Colors
$blue:    #5bc0eb;
$red:     #c3423f;
$yellow:  #fde74c;
$green:   #9bc53d;
$gray: #404e4d;

$secondary: $gray;
