
// Fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1,a.navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.vertical-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#map {
  width: 100%;
  height: 400px;
}

#search-city {
  width: 100%;
}

#social_btn {
  display: flex;
  justify-content: center;
  a {
    color: $gray;
    margin: 5px;
  }
}

footer {
  background-color: $blue;
  padding-top: 20px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
