
// Fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 0.7rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

.bg-green {
  background-color: $green;
}


.vertical-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,a.navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

/**** Home page ****/

header {
  border: 5px solid $red;
  background: repeat url("/images/symphony.png");
  h1 {
    line-height: 0.7em;
  }
}

#search-city {
  width: 100%;

  input[type=text] {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  input[type=submit] {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

/**** Masonry ****/
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 32.67%;
}

.gutter-sizer {
  width: 1%;
}

.grid-item {
  float: left;
  margin-bottom: 1%;

  img {
    display: block;
    max-width: 100%;
  }
}

/**** Event ****/
#map {
  width: 100%;
  height: 400px;
}

/**** Events list ****/

#search-container {
  height: 50vh;
  border: 5px solid $red;
  background: repeat url("/images/symphony.png");
}

.month-name {
  border-top: 5px solid $green;
  border-bottom: 5px solid $green;
}

/**** Footer ****/
#social_btn {
  display: flex;
  justify-content: center;
  a {
    color: $gray;
    margin: 5px;
  }
}

footer {
  background-color: $blue;
  margin-top: 20px;
  padding-top: 20px;
}
