
// Fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 0.7rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

.bg-green {
  background-color: $green;
}

h1,a.navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.vertical-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#map {
  width: 100%;
  height: 400px;
}

#search-city {
  width: 100%;
}

#social_btn {
  display: flex;
  justify-content: center;
  a {
    color: $gray;
    margin: 5px;
  }
}

footer {
  background-color: $blue;
  margin-top: 20px;
  padding-top: 20px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32.67%;
}

.gutter-sizer {
  width: 1%;
}

.grid-item {
  float: left;
  margin-bottom: 1%;

  img {
    display: block;
    max-width: 100%;
  }
}

#home-text {
  border: 5px solid $red;
  background: repeat url("/images/symphony.png");
  h1 {
    line-height: 0.7em;
  }
}
